/* King Charles Spaniel Styling Page*/ 

* {padding: 0;margin: 0;box-sizing: border-box;}

#Container 
{padding: 5px; margin: 5px;color: rgb(13, 89, 228); font-size: 30px; font-weight: 300px; max-height: 450px;
background-color: aqua;display: flex;justify-content: space-around;flex-wrap: wrap;}

header{display: flex;justify-content:flex-start; align-items:center;order: -2;}

.logo{cursor: pointer;max-width: 300px;max-height: 350px;flex-basis: 200px;width: 150px;height: 170px;margin-right: 150px;min-width:150px;}

.nav_links {list-style: none;}

.nav_links li a{display: inline-block;order: 4;}

.King {display: flex;order: -1;}